html {
    font-size: 16px;
    background-color: #45171d;
}

a {
    color: black;
  }

a:hover {
    color: blue;
    font-size: 1.1rem;
}

h1 {
    color: #333333;
}

h2, p { 
    color: #fecea8;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

/* header section */

header {
    width: 100%;
    height: 65px;
    display: inline-flex;
    position: fixed;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-content: center;
    padding: 0 0.625rem;
    z-index: 5;
    gap: 5%;
    background-color: #fecea8;
}

.logo {
    display: flex;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.625rem;
}

.nav {
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 5%;
    flex: 1;
}

.nav ul {
    display: flex;
    flex: 1;
    list-style: none;
    vertical-align: middle;
    justify-content: end;
    gap: 5%;
}

.nav a {
    text-decoration: none;
}

.nav img {
    max-width: 2rem;
    max-height: 2rem;
    width: auto;
    height: auto;
    padding: 0;
}

/* mission statement section */

.mission-statement {
    margin-top: 65px;
    min-height: 400px;
    width: auto;
    overflow: hidden;
    background-image: url("../images/josh-kerr-gXxuM7_tHjI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.mission-statement h2 {
    flex: 1;
    font-style: italic;
    background-color: #45171d;
    padding: 1rem;
}

/* portfolio section */

.portfolio-header{
    padding: 2.35rem;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.portfolio img {
    flex: 1;
    max-width: 33%;
}

/* team photos section */

.team h2 {
    padding: 2.35rem;
}

.team-images-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .team-image {
    flex: 0 0 23%;
    text-align: center;
    min-height: 300px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .team-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .team-image p {
    margin: 10px 0; 
  }
  
  /* footer section */

  footer {
    padding-top: 1rem;
    border-top: 1px solid black;
  }

  .contact {
    text-align: center;
    font-size: 1.5rem;
  }

  .contact p {
    padding: 1rem;
  }

  .copyright {
    padding-bottom: 1rem;
  }

  .attributes {
    text-align: center;
  }