html {
    font-size: 16px;
}

header {
    width: 100%;
    height: 65px;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-content: center;
    padding: 0 0.625rem;
}

.logo {
    display: flex;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.625rem;
}

.nav {
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
}